* {
  --icon-default: #969696;
  --btn-size-main: 2.5rem;
  --btn-size-to: 1.9rem;
  --btn-size-jump: 2.3rem;
 }

.nametag {
  scroll-margin-top: 4rem;
}

.hidden {
  display: none;
}

.short-post {
  height: 6rem;
}

/* button container */
.btn-container {
  position: absolute;
  top: 40%;
  right: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* main buttton */
.btn-right {
  width: var(--btn-size-main);
  height: var(--btn-size-main);
  z-index: 1000;
  color: var(--icon-default);
  cursor: pointer;
  margin-bottom: 1rem;
}

/* jump to bottom mid top buttons */
.btn-totop {
  width: var(--btn-size-to);
  height: var(--btn-size-to);
  z-index: 1000;
  color: var(--icon-default);
  cursor: pointer;
}

.btn-tomid {
  width: var(--btn-size-to);
  height: var(--btn-size-to);
  z-index: 1000;
  color: var(--icon-default);
  cursor: pointer;
}

.btn-tobottom {
  width: var(--btn-size-to);
  height: var(--btn-size-to);
  z-index: 1000;
  color: var(--icon-default);
  cursor: pointer;
}

/* button next to shortened user posts */
.btn-jump svg {
  width: var(--btn-size-jump);
  height: var(--btn-size-jump);
  position: absolute;
  top: 0;
  right: -4rem;
  color: var(--icon-default);
  cursor: pointer;
}
